.App {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}